---
import "@/css/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Global metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <!-- Font reloads -->
    <link
      rel="preload"
      href="/fonts/ProductSans-Light.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/ProductSans-Medium.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/ProductSans-Regular.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/ProductSans-Bold.woff"
      as="font"
      type="font/woff"
      crossorigin
    />

    <title>Probando...</title>
  </head>
  <body>
    <header></header>
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
